<ion-view title="About" id="aboutPage">
    <ion-content padding="true" class="has-header">
<div class="card">
  <div class="item item-text-wrap">
   <p>
   Euro 2.0 is an ethereum blockchain based cryptocurrency, equivalent and 100% backed by the Euros issued by the European governments. Read more github.com/cryptofiat.
   </p>
  </div>
</div>
<br>
<div class="list">
  <div class="item item-divider">
  Stats - hardcoded
  </div>
  <div class="item">
  Supply: 30 EUR
  </div>
  <div class="item">
  Transactions: 36
  </div>
  <div class="item">
  Fee: 0.01  EUR
  </div>
</div>
    </ion-content>
</ion-view>
