<ion-view title="Sign up" id="createVerifyUsePage">
    <ion-content padding="true" class="has-header">
   <div padding="true" class="manual-ios-statusbar-padding">
        <!--&lt;!&ndash;TODO: highlight these guys depending on the tab variable or delete them&ndash;&gt;-->
        <!--<div id="createVerifyUse-button-bar1" class="button-bar">-->
            <!--<button id="createVerifyUse-button3" class="button button-positive  button-block">Create</button>-->
            <!--<button id="createVerifyUse-button4" class="button button-positive  button-block">Verify</button>-->
            <!--<button id="createVerifyUse-button5" class="button button-positive  button-block">Use</button>-->
        <!--</div>-->
        <div ng-if="tab == 'CREATE_PASSWORD'">
            Please enter a secure password to create your account!
            <form name="setPasswordForm" ng-submit="setPassword()">
                <label class="item item-input" id="setPasswordForm-password">
                    <span class="input-label">Password:</span>
                    <input type="password" name="passwordEnter" ng-model="password.enter" placeholder="********">
                </label>
                <label class="item item-input" id="setPasswordForm-confirmPassword">
                    <span class="input-label">Confirm:    </span>
                    <input type="password" name="passwordConfirm" ng-model="password.confirm" placeholder="********">
                </label>
                <button id="setPasswordButton" type="submit" class="button button-positive button-block">
                    Set Password
                </button>
            </form>
        </div>
        <div ng-if="tab == 'ACCOUNT_CREATED'">
            <div>
                <p>Account created!!!</p>
                <p>Your new address is:</p>
                <p><b>{{publicAddress}}</b></p>
                <p>Your 15 word recovery phrase is:</p>
                <p><b>{{recoveryPhrase}}</b></p>
                <p><b>KEEP THIS INFORMATION IN A SAFE PLACE!!!</b></p>
           </div>
            <form name="confirmDetailsForm">
                <button id="confirmDetailsButton"
                        type="submit"
                        class="button button-positive button-block"
                        ng-click="confirmDetails()">
                    Mobiil-ID
                </button>
                <button id="verifyCardButton"
                        type="submit"
                        class="button button-positive button-block"
                        ng-click="showVerifyCard()">
                    ID Card
                </button>
                <button id="verifyBankButton"
                        type="submit"
                        class="button button-positive button-block"
                        ng-click="showVerifyBank()">
                    Bank Transfer
                </button>
            </form>
        </div>
        <div ng-if="tab == 'VERIFY'">
            <div id="createVerifyUse-container1">
                <form id="createVerifyUse-verifyMobile" class="list" ng-submit="verifyMobileId()">
                    <div>
                        Verify with Mobile ID
                    </div>
                    <label class="item item-input" id="createVerifyUse-input3">
                        <span class="input-label">Phone</span>
                        <input type="tel" ng-model="mobileId.phoneNumber" placeholder="+372 123 4567">
                    </label>
                    <button id="createVerifyUse-button6" class="button button-positive  button-block">Verify</button>
                </form>
                <div ng-if="processing">
                     <ion-card>
                       Check your mobile with code: {{mobileIdChallengeCode}}
                     </ion-card>
                </div>
            </div>
        </div>
        <div ng-if="tab == 'VERIFY_CARD'">
            <div id="createVerifyUse-container1">
                <form id="createVerifyUse-verifyCard" class="list" ng-submit="verifyCard();">
                    <div>
                        Verify with Estonian ID Card. Enter card in reader.
                    </div>
                    <label class="item item-input" id="createVerifyUse-input3">
                        <span class="input-label">Phone (optional)</span>
                        <input type="tel" ng-model="mobileId.phoneNumber" placeholder="+372 123 4567">
                    </label>
                    <button id="createVerifyUse-button" class="button button-positive  button-block">Verify</button>
                </form>
            </div>
        </div>
        <div ng-if="tab == 'VERIFY_BANK'">
            <div id="createVerifyUse-markdown3" style="color:#000000;">
                <div>Verify by bank transfer (slower)</div>
                <br>
                <div>Name: Euro 2.0 Guys</div>
                <div>Account: EE087700771001615943</div>
                <div>Amount: 0.43 EUR</div>
                <div>Reference: P12345</div>
                <form id="createVerifyUse-verifyBank" class="list" ng-submit="verifyBank()">
                    <button id="createVerifyUse-button7" class="button button-positive  button-block">I made a bank Transfer</button>
                </form>
            </div>
        </div>
        <div ng-if="tab == 'USE'">
            <p>Everything is good!</p>
            <p ng-if="idNumber">You're Estonian id number is {{idNumber}}<br></p>
            <p>You are ready to send Euro 2.0!</p>
            <form id="createVerifyUse-finish" class="list" ng-submit="finish()">
                <button id="createVerifyUse-finishButton" class="button button-positive  button-block">Start!</button>
            </form>
        </div>
    </div>
   </ion-content>
</ion-view>
