<ion-view title="Export Keys" id="exportKeysPage">
    <ion-content padding="true" class="has-header">
        <div>
<div class="card">
  <div class="item item-text-wrap">
   <p>
   Click on address to expose the key.
   </p>
  </div>
</div>
<ul class="list">
    <li class="item" ng-repeat="addr in addresses">
    {{ addr }}
    </li>
    <li class="item">
      ...
    </li>
</ul>
<form name="transactions-v1" ng-submit="storeId()">
  <button type="submit" id="transactions-v3" class="button button-positive"></button>
</form>
        </div>
    </ion-content>
</ion-view>
