<ion-view title="Sign up" id="createVerifyUsePage">
    <ion-content padding="true" class="has-header">
   <div padding="true" class="manual-ios-statusbar-padding">
        <!--&lt;!&ndash;TODO: highlight these guys depending on the tab variable or delete them&ndash;&gt;-->
        <!--<div id="createVerifyUse-button-bar1" class="button-bar">-->
            <!--<button id="createVerifyUse-button3" class="button button-positive  button-block">Create</button>-->
            <!--<button id="createVerifyUse-button4" class="button button-positive  button-block">Verify</button>-->
            <!--<button id="createVerifyUse-button5" class="button button-positive  button-block">Use</button>-->
        <!--</div>-->
           <p>
            Please enter a secure password to create your account.
           </p>
           <div class="list">
           <form name="setPasswordForm" ng-submit="setPassword()">
                <label class="item item-input item-stacked-label" id="setPasswordForm-password">
                    <span class="input-label">Password</span>
                    <input type="password" name="passwordEnter" ng-model="password.enter" placeholder="********">
                </label>
                <label class="item item-input item-stacked-label" id="setPasswordForm-confirmPassword">
                    <span class="input-label">Confirm </span>
                    <input type="password" name="passwordConfirm" ng-model="password.confirm" placeholder="********">
                </label>
                <button id="setPasswordButton" type="submit" class="button button-positive button-block"
			ng-disabled="!(password.enter == password.confirm)">
                    Set Password
                </button>
            </form>
            </div>
    </div>
   </ion-content>
</ion-view>
