<ion-view title="EURO 2.0" id="mainPage">
    <ion-content padding="true" class="has-header">
        <div ng-if="isUnlocked()">
            <p>Already unlocked!</p>
            <!--TODO: render balances-->
        </div>
        <div ng-if="!isUnlocked()">
            <div>
                EURO 2.0 is BOMB!
            </div>
            <br>
            <div>
                Enter your email address to join!
            </div>
            <br>
            <form name="createForm" class="list" novalidate>
                <label class="item item-input" id="eURO2-input1">
                    <span class="input-label">Email:</span>
                    <input type="email"
                           name="email"
                           ng-model="email"
                           placeholder="foo@bar.com"
                           required>
                </label>
                <br />
                <div ng-show="createForm.$submitted || createForm.email.$touched">
                    <span ng-show="createForm.email.$error.required">Email is required</span>
                    <span ng-show="createForm.email.$error.email">This is not a valid email</span>
                </div>
                <button id="createButton" class="button button-positive  button-block" ng-click="createNew(email)">New account</button>
            </form>
        </div>
        <!--<button id="eURO2-button2" class="button button-positive  button-block button-clear" ng-click="import()">Import</button>-->
    </ion-content>
</ion-view>