<ion-view title="EURO 2.0" id="sendPage">
    <ion-content padding="true" class="has-header">
        <p>Current Balance: ???</p>
        <div>
            <form name="sendEuroForm" ng-submit="sendEuro()">
                <table>
                    <td>
                        <label>
                            Send To: &nbsp;
                        </label>
                    </td>
                    <td class="radio">
                        <label>
                            <input type="radio" name="sendToAccountType" value="eId" ng-model="send.accountType">
                            Estonian Id &nbsp;
                        </label>
                    </td>
                    <td class="radio">
                        <label>
                            <input type="radio" name="sendToAccountType" value="ethereum" ng-model="send.accountType">
                            Ethereum Address
                        </label>
                    </td>
                </table>
                <br>
                <label class="item item-input" id="sendEuroForm-eId" ng-if="send.accountType == 'eId'">
                    <span class="input-label">E-ID:</span>
                    <input type="text" name="recipientAddress" ng-model="send.eId" placeholder="2000553535">
                </label>
                <label class="item item-input" id="sendEuroForm-ethereumAddress" ng-if="send.accountType == 'ethereum'">
                    <span class="input-label">Ethereum Address:</span>
                    <input type="text" name="ethereumAddress" ng-model="send.ethereumAddress" placeholder="0x123456789">
                </label>
                <label class="item item-input" id="sendEuroForm-euroAmount">
                    <span class="input-label">Amount EUR:</span>
                    <input type="text" name="euroAmount" ng-model="send.euroAmount" placeholder="5.50">
                </label>
                <label class="item item-input" id="sendEuroForm-reference">
                    <span class="input-label">Reference:</span>
                    <input type="text" name="reference" ng-model="send.reference" placeholder="Reference">
                </label>
                <br>
                <p> Transaction Fee: XXXX </p>
                <p> Arrives in 40 seconds </p>
                <button id="sendEuroButton" ng-disabled="txState == 'submitting'" type="submit" class="button button-positive button-block">
                    Send
                </button>
            </form>
        </div>
       <div class="list">
          <div  ng-if="txState == 'submitting'" class="item item-icon-left">
          <i class="icon ion-upload positive"></i>
          Sending
          </div>
          <a  ng-if="txState == 'submitted'" class="item item-icon-left item-text-wrap" href="https://etherscan.io/tx/{{txHash}}">
          <i class="icon ion-checkmark balanced"></i>
	  Submitted {{txHash}}
          </a>
       </div>
    </ion-content>
</ion-view>
