<ion-view title="EURO 2.0" id="sendPage">
    <ion-content padding="true" class="has-header">
        <div>
            <form name="sendEuroForm" ng-submit="sendEuro()">
                        <div class="item item-divider">
                            Send To
                        </div>
                <div class="item">
                        <label>
                            <input type="radio" name="sendToAccountType" value="eId" ng-model="send.accountType">
                            Estonian ID &nbsp;
                        </label>
                        <label>
                            <input type="radio" name="sendToAccountType" value="ethereum" ng-model="send.accountType">
                            Ethereum Address
                        </label>
                </div>
		<!--
		<ion-list>
			<ion-radio ng-model="send.accountType" ng-value="'eId'">Estonian ID code</ion-radio>
			<ion-radio ng-model="send.accountType" ng-value="'ethereum'">Ethereum address</ion-radio>
		</ion-list>
		-->
                <br>
		<div class="list">
                <label class="item item-input item-stacked-label item-icon-right" id="sendEuroForm-eId" ng-if="send.accountType == 'eId'">
		    <i class="icon ion-clock positive" ng-if="idCodeCheck == 'loading'"></i>
		    <i class="icon ion-checkmark balanced" ng-if="idCodeCheck == 'yes'"></i>
		    <i class="icon ion-close assertive" ng-if="idCodeCheck == 'no'"></i>
                    <span class="input-label">Estonian ID</span>
                    <input type="text" name="recipientAddress" ng-change="idCodeChecker()" ng-model="send.eId" placeholder="38011050132">
                </label>
                <label class="item item-input item-stacked-label" id="sendEuroForm-ethereumAddress" ng-if="send.accountType == 'ethereum'">
                    <span class="input-label">Ethereum address</span>
                    <input type="text" name="ethereumAddress" ng-model="send.ethereumAddress" placeholder="0x123456789">
                </label>
                <label class="item item-input item-stacked-label" id="sendEuroForm-euroAmount">
                    <span class="input-label">Amount EUR</span>
                    <input type="text" name="euroAmount" ng-model="send.euroAmount" placeholder="5.50">
                </label>
                <label class="item item-input item-stacked-label" id="sendEuroForm-reference">
                    <span class="input-label">Reference</span>
                    <input type="text" name="reference" ng-model="send.reference" placeholder="for milk">
                </label>
                </div>
                <h6> Fee: {{fee}} EUR</h6>
                <button id="sendEuroButton" ng-disabled="txState == 'submitting' || (send.accountType == 'eId' && idCodeCheck != 'yes')" type="submit" class="button button-positive button-block">
                    Send
                </button>
            </form>
        </div>
       <div class="list">
          <div  ng-if="txState == 'submitting'" class="item item-icon-left">
          <i class="icon ion-upload positive"></i>
          Sending
          </div>
          <a  ng-if="txState == 'submitted'" class="item item-icon-left item-text-wrap" href="https://etherscan.io/tx/{{txHash}}">
          <i class="icon ion-checkmark balanced"></i>
	  Submitted 
          <h6>{{txHash}}</h6>
          </a>
       </div>
    </ion-content>
</ion-view>
