<ion-view title="EURO 2.0" id="topUpPage">
    <ion-content padding="true" class="has-header">
<div class="card">
  <div class="item item-text-wrap">
   <p>
Use any Estonian bank to top up your Euro2.0 balance. The system uses your ID code passed with your transfer by the bank.
   </p>
  </div>
</div>
<br>
<div class="list">
  <div class="item item-divider">
  Transfer details
  </div>
  <div class="item">
  Recipient: Euro 2.0 Reserve
  </div>
  <div class="item">
  IBAN: EE7071700003200122
  </div>
  <div class="item">
  Max amount: 100,000 EUR
  </div>
        </div>
    </ion-content>
</ion-view>
