<ion-view title="EURO 2.0" id="transactionsPage">
    <ion-content padding="true" class="has-header">
        <div>
<div class="card">
  <div class="item item-text-wrap">
   <p>
   Estonian ID: <span>{{idCode}}</span>
   </p>
   <p>
   Balance: <span>{{ (totalBalance / 100).toFixed(2)}}</span> EUR 
   </p>
  </div>
</div>
<ul class="list">
    <a class="item" ng-repeat="tx in transfers" href="http://etherscan.io/tx/{{tx.id}}">
    <span class="{{ (tx.signedAmount > 0) ? 'balanced' : 'assertive'}}">{{ (tx.signedAmount / 100).toFixed(2) }}</span> <span class="item-note">20 days ago</span>
    <p>{{ tx.otherAddress }}</p>
    </a>
</ul>
<h6>{{transfers.length.toFixed(0)}} transfers <a href ng-click="loadData()">refresh</a></h6>
        </div>
    </ion-content>
</ion-view>
