<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Send payment request</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <div padding>
      <ion-list>
        <ion-item>
          <ion-label stacked>Estonian ID</ion-label>
          <ion-input placeholder="38003029210"
                     (input)="idCodeChecker()"
                     [(ngModel)]="send.eId">
          </ion-input>
          <ion-icon color="positive" name="clock"
                    *ngIf="idCodeCheck == 'loading'" item-right></ion-icon>
          <ion-icon color="secondary" name="checkmark"
                    *ngIf="idCodeCheck == 'yes'" item-right></ion-icon>
          <ion-icon color="danger" name="close"
                    *ngIf="idCodeCheck == 'no'" item-right></ion-icon>
          <ion-icon color="{{ (escrowCreate) ? 'danger' : 'secondary'}}" name="lock"
                    *ngIf="idCodeCheck == 'escrow'" item-right></ion-icon>
          <button ion-button item-right outline type="button" (click)="showSearch()">
            <ion-icon name="search"></ion-icon>
            Search
          </button>
        </ion-item>
        <ion-item>
          <ion-label stacked>Amount</ion-label>
          <ion-input placeholder="5.50"
                     type="number"
                     step=".01"
                     [(ngModel)]="send.euroAmount">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Reference</ion-label>
          <ion-input placeholder="for milk"
                     [(ngModel)]="send.reference">
          </ion-input>
        </ion-item>
        <ion-item margin-vertical>
	  <ion-icon item-right name="copy"></ion-icon>
          <ion-label stacked>URL</ion-label>
          <ion-textarea 
		     [disabled]="true"
                     [(ngModel)]="request.paymentUri">
          </ion-textarea>
        </ion-item>
      </ion-list>
      
      <button margin-vertical ion-button
              [disabled]="txState == 'submitting'"
              (click)="sendPaymentRequest()"
              block>
        Send
      </button>
      <div margin-vertical >
	      <qr-code [value]="request.paymentUri" [size]="200"></qr-code>
      </div>
    </div>
</ion-content>
