<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card><ion-card-content>
   <p>
   Estonian ID: <span>{{idCode}}</span>
   </p>
   <p>
   Balance: <span>{{ (totalBalance / 100).toFixed(2)}}</span> EUR 
   </p>
  </ion-card-content></ion-card>
<ion-list>
<ion-item *ngFor="let tx of transfers">
    <a class="item" target="_blank" href="http://etherscan.io/tx/{{tx.transactionHash}}">
    <span class="{{ tx.signedAmount > 0 ? 'balanced' : 'assertive'}}">{{ tx.signedAmount / 100  }}</span>
<!--
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyFirstName }}</span>
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyLastName }}</span>
    <span *ngIf="tx.ref.senderIdCode" style="font-size: 85%; color:#aaa;">{{ tx.counterPartyIdCode }}</span>
    <span class="item-note">{{ctrl.getFormattedDate(tx)}}</span>
    <p>{{ tx.otherAddress }}</p>
    <p><span *ngIf="tx.ref.referenceText" class="item-text-wrap">{{ tx.ref.referenceText }}</span></p>
    <p *ngIf="tx.fee" style="font-size: 70%;">fee: {{ tx.fee / 100 | number: 2 }}</p>
-->
    </a>
    </ion-item>
</ion-list>
<h6>{{transfers.length.toFixed(0)}} transfers 
<a href="#" *ngIf="!(refreshing)" (click)="refreshClick()">refresh</a>
<span *ngIf="refreshing"> ... refreshing ... </span>
</h6>

  <ion-list-header [hidden]="transfers.length > 0">
      No transfers yet
  </ion-list-header>


</ion-content>

