<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transfers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card><ion-card-content>
   <p>
   <span>{{ owner.firstName }} {{ owner.lastName }}</span>
   </p>
   <p>
   Estonian ID: <span>{{idCode}}</span>
   </p>
   <p>
   Balance: <span>{{ (totalBalance / 100).toFixed(2)}}</span> EUR 
   </p>
   <p [hidden]="!(totalPending > 0)">
   Pending: <span>{{ (totalPending / 100).toFixed(2)}}</span> EUR 
   </p>
  </ion-card-content></ion-card>
<ion-list>
  <ion-list-header [hidden]="pendingTransfers.length < 1">
     Pending
  </ion-list-header>
<ion-item *ngFor="let tx of pendingTransfers">
    <ion-icon [hidden]="tx.pendingRefresh" name="clock" item-left></ion-icon>
    <ion-icon [hidden]="!tx.pendingRefresh" name="refresh" item-left></ion-icon>
    <a class="transactionItem" target="_blank" href="http://etherscan.io/tx/{{tx.transactionHash}}">
    <span class="{{ tx.signedAmount > 0 ? 'inboundAmount' : 'outboundAmount'}}">{{ (tx.signedAmount / 100).toFixed(2)  }}</span>
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyFirstName }}</span>
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyLastName }}</span>
    <span *ngIf="tx.counterPartyIdCode" style="font-size: 85%; color:#aaa;">{{ tx.counterPartyIdCode }}</span>
    <p>Transfer: {{ tx.transactionHash }}</p>
    <p><span *ngIf="tx.ref.referenceText" class="item-text-wrap">{{ tx.ref.referenceText }}</span></p>
    <div>
       <div *ngIf="tx.fee" class="fee">fee: {{ (tx.fee / 100).toFixed(2) }}</div>
       <div class="timeAgo">{{ getFormattedDate(tx)}}</div>
    </div>
    </a>
</ion-item>
  <ion-list-header [hidden]="pendingTransfers.length < 1">
    Completed 
  </ion-list-header>
<ion-item *ngFor="let tx of transfers">
    <a class="transactionItem" target="_blank" href="http://etherscan.io/tx/{{tx.transactionHash}}">
    <span class="{{ tx.signedAmount > 0 ? 'inboundAmount' : 'outboundAmount'}}">{{ (tx.signedAmount / 100).toFixed(2)  }}</span>
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyFirstName }}</span>
    <span *ngIf="tx.ref.senderIdCode">{{ tx.counterPartyLastName }}</span>
    <span *ngIf="tx.ref.senderIdCode" class="idCode" >{{ tx.counterPartyIdCode }}</span>
    <p class="hash">{{ tx.counterPartyAddress }}</p>
    <p><span *ngIf="tx.ref.referenceText" class="referenceText item-text-wrap">{{ tx.ref.referenceText }}</span></p>
    <div>
       <div *ngIf="tx.fee" class="fee">fee: {{ (tx.fee / 100).toFixed(2) }}</div>
       <div class="timeAgo">{{ getFormattedDate(tx)}}</div>
    </div>
    </a>
    </ion-item>
</ion-list>
  <ion-list-header>
{{transfers.length.toFixed(0)}} transfers 
<a href="#" *ngIf="!(refreshing)" (click)="loadData()">refresh</a>
<span *ngIf="refreshing"> ... refreshing ... </span>
  </ion-list-header>

  <ion-fab bottom right>
      <button ion-fab (click)="toSendPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

