<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar #searchbar placeholder="Name or Estonian ID" [(ngModel)]="searchInput" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-list>
      <ion-list-header>
        Search results
      <ion-spinner item-right [hidden]="!searching"></ion-spinner>
      </ion-list-header>
      <ion-item class="search-noresults" [hidden]="results.length">
	 No results.
	 <span [hidden]="searchInput.length > 2"> Enter at least 3 letters. </span>
      </ion-item>
      <ion-item (click)="returnIdCode(el.idCode)" *ngFor="let el of results">
        <ion-label>
          {{el.firstName}}
          {{el.lastName}}
        </ion-label>
        <ion-note item-right>
          {{el.idCode}}
        </ion-note>
      </ion-item>
      <ion-list-header>
        Recent
      </ion-list-header>
      <ion-item [hidden]="recentRecipients.length">
	 No recent recipients
      </ion-item>
      <ion-item (click)="returnIdCode(el.idCode)" *ngFor="let el of recentRecipients">
        <ion-label>
          {{el.firstName}}
          {{el.lastName}}
        </ion-label>
        <ion-note item-right>
          {{el.idCode}}
        <div class="timeAgo">{{ getFromNow(el.time) }}</div>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
