<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Verify</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
        <div [hidden]="!(tab == 'ACCOUNT_CREATED')">
	   <ion-list>
            <ion-item text-wrap>
                Euro 2.0 is only available to Estonian ID holders. 
		You need to link your ID to start sending and receiving money.
           </ion-item>
		   <ion-item (click)="toggleAdvanced()">
				   Advanced
				   <ion-icon item-right
		name="{{ (hiddenAdvanced) ? 'eye': 'eye-off'}}">
				   </ion-icon>
		   </ion-item>
			   <ion-item item-content [hidden]="hiddenAdvanced">
				<ion-label stacked>
				      Address to be approved
			   	</ion-label>
				<ion-textarea value="{{publicAddress}}">
				</ion-textarea>
			   </ion-item>
	   </ion-list>
            <form name="confirmDetailsForm">
                <button ion-button icon-left margin-vertical id="verifyMobileButton"
                        type="submit"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_MOBILE')">
			<ion-icon name="phone-portrait"></ion-icon>
                    Mobiil-ID
                </button>
                <button id="verifyCardButton"
			ion-button icon-left
                        type="submit"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_CARD')">
			<ion-icon name="card"></ion-icon>
                    ID Card
                </button>
                <button id="verifyBankButton"
			ion-button
                        type="submit"
			[disabled]="true"
			[hidden]="true"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_BANK')">
                    Bank Transfer
                </button>
            </form>
        </div>
        <div [hidden]="!(tab == 'VERIFY_MOBILE')">
            <div id="createVerifyUse-container1">
                <form [formGroup]="mobiilIdForm" id="createVerifyUse-verifyMobile" class="list">
                    <p>
                        Verify with Mobiil-ID. 
                    </p>
		    <ion-item>
                    <ion-label stacked class="item item-input" id="createVerifyUse-input3">
                        <span class="input-label">Phone</span>
                    </ion-label>
                        <ion-input type="tel" name="phone" formControlName="phoneNumber" [(ngModel)]="mobileId.phoneNumber" required placeholder="+372 5123 456">
			</ion-input>
		    </ion-item>
                    <button ion-button id="createVerifyUse-button6" 
			margin-vertical
			class="button button-positive  button-block" 
			[disabled]="!mobiilIdForm.valid || processing"
			(click)="verifyMobileId()">
			Verify
		    </button>
			
		    <a id="createVerifyUse-button7" href="#" (click)="showTab('ACCOUNT_CREATED')" >Other options</a>
                </form>
                <div *ngIf="processing">
                     <ion-card><ion-card-content>
                       Check your phone with code: 
                       <b>{{mobileIdChallengeCode}}</b>
                     </ion-card-content>
                     </ion-card>
                </div>
            </div>
        </div>
        <div [hidden]="!(tab == 'VERIFY_CARD')">
            <div id="createVerifyUse-container1">
                <form id="createVerifyUse-verifyCard" class="list" >
                    <p>
                        Verify with Estonian ID card. Have the card ready in the reader.
			Visit <a href="https://www.sk.ee/id/index2.php" target="_new">sk.ee</a> to test the ID card setup.
                    </p>
                    <button id="createVerifyUse-button" 
			ion-button
			margin-vertical
			[disabled]="processing" 
			class="button button-positive  button-block"
			(click)="verifyCard()">Verify</button>
                </form>
                <a id="createVerifyUse-button7" href="#" (click)="showTab('ACCOUNT_CREATED')">Other options</a>
                <ion-card margin-vertical *ngIf="processing">
		   <ion-item text-wrap [hidden]="iderror">
                     <ion-icon item-left name="clock"></ion-icon>
                     Sent request, waiting for response ...
                   </ion-item>
		   <ion-item text-wrap [hidden]="!iderror">
                     <ion-icon item-left name="close" color="danger"></ion-icon>
			Error, check your card setup ... {{iderror?.status}} {{iderror?.exception}} {{iderror?.message}}
		   </ion-item>
                </ion-card>
            </div>
        </div>
        <div [hidden]="!(tab == 'VERIFY_BANK')">
            <div id="createVerifyUse-markdown3" style="color:#000000;">
                <div class="card">
                   <div class="item item-text-wrap">
			Verify by bank transfer from an Estonian bank account. Only personal bank accounts work.
                   </div>
                </div>
                <br>
                NOT IMPLEMENTED!
                <br>
                <br>
                <div>Name: Euro 2.0 Reserve</div>
                <div>Account: EE087700771001615943</div>
                <div>Reference: {{ true }} TBC</div>
                <form id="createVerifyUse-verifyBank" class="list">
                    <button id="createVerifyUse-button7" ng-click="verifyBank()" ng-disabled="true" class="button button-positive  button-block">I made a bank transfer</button>
                    <a id="createVerifyUse-button7" href (click)="showTab('ACCOUNT_CREATED')">Other options</a>
                </form>
            </div>
        </div>
        <div *ngIf="tab == 'USE'">
            <p>Everything is good, {{owner?.firstName}}!</p>
            <p *ngIf="idNumber">Your Estonian ID number is {{idNumber}}.<br></p>
            <p [hidden]="!escrow">You had <b>{{ (escrowAmount / 100).toFixed(2) }} EUR</b> already waiting for you. It is being transferred to your new address.</p>
            <p [hidden]="!(pendingApprovals.length > 0)">It may take up to 3 minutes to have your access approved on Euro 2.0 blockchain.</p>
	    <ion-list>
	      <a href="https://etherscan.io/tx/{{getPendingApproval(approve)}}" target=_new 
		 ion-item *ngFor="let approve of pendingApprovals">
	        <ion-icon [hidden]="refreshing" name="clock" item-left> </ion-icon>
	        <ion-icon [hidden]="!refreshing" name="refresh" color="secondary" item-left> </ion-icon>
		{{approve}}
	      </a>
	    </ion-list>
            <form id="createVerifyUse-finish">
                <button ion-button id="createVerifyUse-finishButton" 
		   (click)="finish()"
		   [disabled]="pendingApprovals.length"
		   class="button button-positive  button-block">
		   Start
  	        </button>
            </form>
        </div>
  </div>
</ion-content>
