<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Verify</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
        <div *ngIf="tab == 'ACCOUNT_CREATED'">
            <div>
                <p>Account created. Your new address is:</p>
                <p><b>{{publicAddress}}</b></p>
                <p>You need to verify your ID to start sending money.</p>
           </div>
            <form name="confirmDetailsForm">
                <button ion-button id="verifyMobileButton"
                        type="submit"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_MOBILE')">
                    Mobiil-ID
                </button>
                <button id="verifyCardButton"
			ion-button
                        type="submit"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_CARD')">
                    ID Card
                </button>
                <button id="verifyBankButton"
			ion-button
                        type="submit"
			[disabled]="true"
                        class="button button-positive button-block"
                        (click)="showTab('VERIFY_BANK')">
                    Bank Transfer
                </button>
            </form>
        </div>
        <div *ngIf="tab == 'VERIFY_MOBILE'">
            <div id="createVerifyUse-container1">
                <form id="createVerifyUse-verifyMobile" class="list">
                    <p>
                        Verify with Mobiil-ID. You need to have test certificates from 
			<a href="https://demo.sk.ee/MIDCertsReg/">here</a>.
                    </p>
		    <ion-item>
                    <ion-label stacked class="item item-input" id="createVerifyUse-input3">
                        <span class="input-label">Phone</span>
                    </ion-label>
                        <ion-input type="tel" name="phone" [(ngModel)]="mobileId.phoneNumber" placeholder="+372 123 4567">
			</ion-input>
		    </ion-item>
                    <button ion-button id="createVerifyUse-button6" 
			class="button button-positive  button-block" 
			[disabled]="processing"
			(click)="verifyMobileId()">
			Verify
		    </button>
			
		    <a id="createVerifyUse-button7" href="#" (click)="showTab('ACCOUNT_CREATED')" class="">Other options</a>
                </form>
                <div *ngIf="processing">
                     <ion-card><ion-card-content>
                       Check your phone with code: 
                       <b>{{mobileIdChallengeCode}}</b>
                     </ion-card-content>
                     </ion-card>
                </div>
            </div>
        </div>
        <div *ngIf="tab == 'VERIFY_CARD'">
            <div id="createVerifyUse-container1">
                <form id="createVerifyUse-verifyCard" class="list" >
                    <p>
                        Verify with Estonian ID Card. Have the card ready in the reader.
			Visit <a href="https://id.euro2.ee/auth/idCard" target="_new">https</a> to approve SSL and test ID card.
                    </p>
                    <button id="createVerifyUse-button" 
			ion-button
			[disabled]="processing" 
			class="button button-positive  button-block"
			(click)="verifyCard()">Verify</button>
                </form>
                <a id="createVerifyUse-button7" href="#" (click)="showTab('ACCOUNT_CREATED')">Other options</a>
                <div class="card" *ngIf="processing">
                   <div class="item item-icon-left item-text-wrap">
                   <i class="icon ion-clock"></i>
                    Sent request, waiting for response ...
                   </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab == 'VERIFY_BANK'">
            <div id="createVerifyUse-markdown3" style="color:#000000;">
                <div class="card">
                   <div class="item item-text-wrap">
			Verify by bank transfer from an Estonian bank account. Only personal bank accounts work.
                   </div>
                </div>
                <br>
                NOT IMPLEMENTED!
                <br>
                <br>
                <div>Name: Euro 2.0 Reserve</div>
                <div>Account: EE087700771001615943</div>
                <div>Reference: {{ true }} TBC</div>
                <form id="createVerifyUse-verifyBank" class="list">
                    <button id="createVerifyUse-button7" ng-click="verifyBank()" ng-disabled="true" class="button button-positive  button-block">I made a bank transfer</button>
                    <a id="createVerifyUse-button7" href (click)="showTab('ACCOUNT_CREATED')" class="">Other options</a>
                </form>
            </div>
        </div>
        <div *ngIf="tab == 'USE'">
            <p>Everything is good!</p>
            <p ng-if="idNumber">You're Estonian id number is {{idNumber}}<br></p>
            <p>You are ready to send Euro 2.0!</p>
            <form id="createVerifyUse-finish">
                <button ion-button id="createVerifyUse-finishButton" 
		   (click)="finish()"
		   class="button button-positive  button-block">
		   Start!
  	        </button>
            </form>
        </div>
  </div>
</ion-content>
